BasedOnStyle: Chromium
IndentWidth: 2
ContinuationIndentWidth: 2
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: Inner
PointerAlignment: Left
TabWidth: 2
UseTab: ForContinuationAndIndentation
FixNamespaceComments: false
Cpp11BracedListStyle: false
